.task-block {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    padding: 30px;
}

.no-bullets-list {
    list-style-type: none;
    padding: 10px;
    margin: 2px 0 0 0;
}

.no-bullets-list li input[type='checkbox'] {
    margin-right: 8px;
}

.completed-task-label {
    text-decoration: line-through;
    opacity: 50%;
    color: #888;
}

/*
.group-tasks-list {
    display: flexbox;
    flex-direction: column;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
} */